@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  background-color: #2e2e2e;
  color: white;
  font-size: 18px;
}

.button{
  @apply bg-[#8083ff] text-white hover:bg-[#8083ff] hover:text-white font-semibold;
}